/*********** Explore page ***********/

.h2-bigger {
  color: #10578b;
  font-size: 26px;
}

#tr-ids-active {
  color: red;
  font-weight: bold;
}

.blank-field-error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

#map-status-info {
  font-size: 18px;
  padding: 5px;
}

.info-win-text {
  color: #000;
}

#ip-flags {
  padding: 15px;
}

#ip-flags-title {
  float: left;
  margin-bottom: 15px;
}

#ip-flag-info {
  float: left;
  margin-right: 10px;
  font-size: 13px;
}

#ip-flag-insert {
  margin-top: 20px;
}

#ip-flag-info table {
  width: 440px;
  padding: 10px;
  font-size: 14px;
  border-collapse: collapse;
}

#ip-flag-info td {
  border: 1px solid #ccc;
  padding: 2px;
}

#ip-flag-log {
  color: red;
  float: right;
}

#ip-flag-first-msg {
  padding: 5px;
  overflow: auto;
}

#ip-flags-new {
  float: right;
  margin: 12px 50px 0 0;
}

#ip-flags-data-list {
  overflow: auto;
  height: 252px;
}

#tr-details, #ip-flags {
  position: fixed;
  left: 5%;
  z-index: 1000;
  top: 5%;
  background: #fff;
  height: 600px;
  width: 900px;
  border: 1px solid black;
  border-radius: 20px;
}

#privacy-details {
  position: fixed;
  left: 15%;
  z-index: 1000;
  top: 5%;
  background: #fff;
  height: 410px;
  width: 710px;
  border: 1px solid black;
  border-radius: 20px;
}

#tr-details-close, #ip-flags-close, #privacy-details-close {
  margin: 10px;
  float: right;
}

#tr-details-close img, #ip-flags-close img, #privacy-details-close img {
  width: 25px
}
.privacy-score-col-non-zero {
  font-size: 14px;
  font-weight: bold;
}

#privacy-total-label {
  float: right;
  margin-top: 16px;
  margin-right: 10px;
  font-size: 18px;
  margin-left: 14px;
}

#privacy-feedback-info {
  float: left;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}

.privacy-score-col-total {
  font-size: 18px;
  font-weight: bold;
}

.privacy-score-col {
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
}
#privacy-details-data table td {
  padding: 2px;
  font-size: 13px;
  border-bottom: 1px dotted;
}

.privacy-score-tot {
  text-align: right;
}

#privacy-details {
  padding: 15px;
  overflow: auto;
}
#carrier-title {
  float: left;
}

#tr-details-iframe {
  width: 894px;
  height: 533px;
}

/* redefining jQuery ui-widget */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.9em;
}

.map-tool-on, .map-tool-off {
  font-size: 0.8em;
  border-radius: 5px;
}

.map-tool-on {
  color: #000000;
  background-color: #8dbdd8;
}

.map-tool-off {
  color: #000000;
  background-color: #FFFFFF;
}

.asn-num-hops {
  background-color: #FFFFFF;
  padding: 1px;
  text-align: center;
  font-size: 11px;
  border-radius: 10px;
  margin: 5px;
}

.asn-color-text {
  text-align: center;
}
.centered-table-cell {
  text-align: center;
}

#map-stats-container {
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
#map-actions-container h4 {
  text-align: center;
  padding: 10px;
}

#map-actions-container {
  width: 100%;
  padding: 0px;
  float: left;
}

#tabs a:hover, #map-actions a:hover {
  color: #FFFFFF;
}
.map-actions-controls, .ui-accordion .ui-accordion-content {
  padding: 0em 0em;
}

.map-actions-controls {
  margin-bottom: 10px;
}

#map-hide-control {
  position: absolute;
  background-color: orange;
  padding-left: 25px;
  font-size: 13px;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 118px;
  height: 37px;
}

#map-info-global {
  padding: 1em;
  font-size: 14px;
  background-color: rgb(14, 14, 14);
  opacity: 0.9;
  color: #ffffff;
  width: 200px;
}

#map-core-controls {
  margin: 0;
}

#map-core-controls input {
  font-size: 1.2em;
}

#filter-results-log {
  min-height: 25px;
}

.text-new {
  color: red;
  font-weight: bold;
}

.nat-header {
  width: 35px;
}
.routers-header {
  width: 35px;
}
.score-header {
  width: 88px;
}

.star-col {
  font-size: 0px;           /* hackaroo! we need the privacy numeric values to allow sorting, but don't want to actually see them */
  vertical-align: top;
}
.privacy-star-img {
  width: 15px;
}
.score-hide {
  display: none;
}


/* REVAMPED CSS STARTS HERE */
.selected {
  background: #4aa0f9 !important;      /* OMG so many different blues - we need to get someone on this */
  opacity: 0.7;
}

.hidden {
  display: none;
}

.warning {
  background-color: #FFAC1C;
}

#explore-content {
  position: relative;
  min-height: 840px;
  margin-bottom: 5px;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader-image {
  position: relative;
  text-align: center;
  z-index: 1000;
  top: 25%;
}

#loader-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity:0.6;
  z-index: 50;
}

.loader-image img {
  border: none;
  -webkit-box-shadow: 0px 0px 0px #777;
}

#cancel-query-div {
  z-index: 100;
}

#cancel-query {
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.announcement {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 7px;
}

#explore-content table button {
  background: white;
  text-align: center;
  width: 160px;
  height: 30px;
  font-size: 13px;
  padding: 5px;
  margin: 5px 0px 0px 5px;
  border-radius: 6px;
}

#map-container {
  margin-top: -10px;
}

#search-container, #quick-search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-button {
  font-size: 13px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.constraint {
  margin: 4px;
}

/*********** MAP (LEFT SIDE) ************/

#map-canvas-container {
  bottom: 260px;
  left: 0;
}

#map-output-container {
  float: left;
  height: 550px;
  width: 65%;
}

.map-canvas {
  margin: 0;
  height: 550px;
  width: 100%;
}

/************ TRACEROUTES FOUND (RIGHT SIDE) ************/

#traceroutes-found-container {
  float: right;
  width: 34%;
}
#traceroutes-found-title-container {
  margin-bottom: 3px;
}

#tr-list-ids {
  max-height: 230px;
  overflow-y: auto;
  bottom: 0;
  left: 0px;
  padding: 0px;
}

.tr-list-result table {
  width: 100%;
  border: 1px solid #ccc;
}
.tr-list-result td {
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 12px;
}

#tr-list-table tr:hover {
  background-color: yellow;
}

#map-legend {
  max-height: 230px;
  margin-top: 5px;
  overflow: auto;
}

#map-info {
  min-height: 63px;
  float: right;
}

#map-tr-active {
  float: right;
}