/*********** Explore page ***********/

.h2-bigger {
  color: #10578b;
  font-size: 26px;
}

#tr-ids-active {
  color: red;
  font-weight: bold;
}

.blank-field-error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

#map-status-info {
  font-size: 18px;
  padding: 5px;
}

.info-win-text {
  color: #000;
}

#ip-flags {
  padding: 15px;
}

#close-ip-flags {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 25px;
}

#ip-flags-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

#ip-flag-info {
  margin-right: 10px;
  font-size: 13px;
}

#ip-flag-tr-id {
  margin-right: 20px;
}

#ip-flag-hostname, #ip-flag-location, #ip-flag-lat-long {
  font-weight: bold;
}

#ip-flag-location, #ip-flag-asn-name {
  float: left;
}

#ip-flag-lat-long, #ip-flag-star-rating {
  float: right;
}

#user_nick, #ip_new_loc {
  height: 21px;
  width: 186px;
  margin-bottom: 4px;
}

#user_msg {
  height: 42px;
  width: 382px;
}

#submit-ip-flag {
  float: right;
  margin-top: 4px;
  margin-right: 2px;
}

#ip-flag-insert {
  margin-top: 10px;
  margin-bottom: 35px;
}

#ip-flags-new {
  float: right;
  margin: 12px 50px 0 0;
}

#ip-flags-data-list {
  margin-top: 5px;
  overflow: auto;
}

#tr-details, #ip-flags {
  position: fixed;
  z-index: 1000;
  background: #fff;
  border: 1px solid black;
  border-radius: 12px;
}

#tr-details {
  top: 3%;
  left: 5%;
}

#ip-flags {
  width: 400px;
  top: 10%;
  right: 5%;
}

#privacy-details {
  position: fixed;
  left: 15%;
  z-index: 1000;
  top: 5%;
  background: #fff;
  height: 410px;
  width: 710px;
  border: 1px solid black;
  border-radius: 12px;
}

#tr-details-close-btn, #ip-flags-close, #privacy-details-close {
  margin: 10px;
  float: right;
}

#privacy-details-close img {
  width: 25px
}

.privacy-score-col-non-zero {
  font-size: 14px;
  font-weight: bold;
}

#privacy-total-label {
  float: right;
  margin-top: 16px;
  margin-right: 10px;
  font-size: 18px;
  margin-left: 14px;
}

#privacy-feedback-info {
  float: left;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}

.privacy-score-col-total {
  font-size: 18px;
  font-weight: bold;
}

.privacy-score-col {
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
}
#privacy-details-data table td {
  padding: 2px;
  font-size: 13px;
  border-bottom: 1px dotted;
}

.privacy-score-tot {
  text-align: right;
}

#privacy-details {
  padding: 15px;
  overflow: auto;
}
#carrier-title {
  float: left;
}

#tr-details-iframe {
  width: 1000px;
  height: 500px;
  margin: 20px 0px 10px 15px;
}

/* redefining jQuery ui-widget */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.9em;
}

.map-tool-on, .map-tool-off {
  font-size: 0.8em;
  border-radius: 5px;
}

.map-tool-on {
  color: #000000;
  background-color: #8dbdd8;
}

.map-tool-off {
  color: #000000;
  background-color: #FFFFFF;
}

.asn-num-hops {
  background-color: #FFFFFF;
  padding: 1px;
  text-align: center;
  font-size: 11px;
  border-radius: 10px;
  margin: 5px;
}

.asn-color-text {
  text-align: center;
}
.centered-table-cell {
  text-align: center;
}

.map-actions-controls, .ui-accordion .ui-accordion-content {
  padding: 0em 0em;
}

.map-actions-controls {
  margin-bottom: 10px;
}

#map-hide-control {
  position: absolute;
  background-color: orange;
  padding-left: 25px;
  font-size: 13px;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 118px;
  height: 37px;
}

#map-core-controls {
  margin: 0;
}

#map-core-controls input {
  font-size: 1.2em;
}

#filter-results-log {
  min-height: 25px;
}

.text-new {
  color: red;
  font-weight: bold;
}

.nat-header {
  width: 35px;
}
.routers-header {
  width: 35px;
}
.score-header {
  width: 88px;
}

.star-col {
  font-size: 0px !important;           /* hackaroo! we need the privacy numeric values to allow sorting, but don't want to actually see them */
}
.privacy-star-img {
  vertical-align: middle;
  width: 15px;
}
.score-hide {
  display: none;
}


/* REVAMPED CSS STARTS HERE */
.selected {
  background: #4aa0f9 !important;      /* OMG so many different blues - we need to get someone on this */
  opacity: 0.7;
}

.hidden {
  display: none;
}

.warning {
  background-color: #FFAC1C;
}

#explore-content {
  position: relative;
  height: 550px;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: -2px 4px 4px -2px;
  width: 100.5%;
  height: 100.5%;
  text-align: center;
}

.loader-image {
  position: relative;
  text-align: center;
  z-index: 1000;
  top: 25%;
}

#loader-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 50;
}

.loader-image img {
  border: none;
  -webkit-box-shadow: 0px 0px 0px #777;
}

#cancel-query-div {
  z-index: 100;
}

#cancel-query {
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.announcement {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 7px;
}

#explore-content table button {
  background: white;
  text-align: center;
  width: 160px;
  height: 30px;
  font-size: 13px;
  padding: 5px;
  margin: 5px 0px 0px 5px;
  border-radius: 6px;
}

#search-container, #quick-search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#filter-results-summary-container {
  margin-top: 25px;
  margin-left: 5px;
  color: #10578b;
  cursor: pointer;
}

#filter-results-summary {
  margin-left: 5px;
  color: black;
}

.action-button {
  font-size: 13px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.constraint {
  margin: 4px;
}

/*********** MAP (LEFT SIDE) ************/

#map-canvas-container {
  bottom: 260px;
  left: 0;
}

#map-canvas-container h3 {
  margin-bottom: 10px;
}

#map-output-container {
  position: relative;
  float: left;
  height: 550px;
  width: 65%;
}

.map-canvas {
  margin: 0;
  height: 550px;
  width: 100%;
}

.router-infowindow {
  min-height: 105px;
  min-width: 120px;
  padding: 2px;
}

#flag-it-btn {
  float: right;
  margin-left: 50px;
  margin-top: -2px;
}

#flag-btn-text {
  line-height: 18px;
  margin-right: 5px;
  font-size: 13px;
}

#flag-btn-img {
  margin-top: 2px;
  margin-bottom: -4px;
}

#options-btn, #layers-btn, #help-btn {
  position: absolute;
  cursor: pointer;
  /* filters icons on greyscale - likely to be adopted on a more consistent crossbrowser scale soon, but for now... */
  filter: invert(50%);
  -webkit-filter: invert(50%);
}

#options-btn {
  bottom: 158px;
  left: 28px;
}

#layers-btn {
  bottom: 118px;
  left: 28px;
}

#help-btn {
  bottom: 82px;
  left: 29px;
  width: 30px;
}

.map-icon-popup-container {
  position: absolute;
  bottom: 50px;
  left: 70px;
  background-color: white;
  padding: 14px;
  border: solid black 1px;
  border-radius: 12px;
}

.map-icon-close-btn {
  position: absolute;
  right: 14px;
  top: 13px;
  width: 25px;
}

.legend-img-container {
  display: inline-block;
  width: 44px;
  vertical-align: middle;
}

.legend-img {
  height: 22px;
}

/************ TRACEROUTES FOUND (RIGHT SIDE) ************/

#traceroutes-found-container {
  float: right;
  width: 34%;
}
#traceroutes-found-title-container {
  margin-bottom: 3px;
}

#tr-list-ids {
  max-height: 230px;
  overflow-y: auto;
  bottom: 0;
  left: 0px;
  padding: 0px;
}

.tr-list-result table {
  width: 100%;
  border: 1px solid #ccc;
}
.tr-list-result td {
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 12px;
}

#tr-list-table tr:hover {
  background-color: yellow;
}

/* careful, this is misleading name, refers to Carrier Summary */
#map-legend {
  max-height: 230px;
  margin-top: 5px;
  overflow: auto;
}

#map-info {
  min-height: 63px;
  float: right;
}

#map-tr-active {
  float: right;
}
