/* OVERWRITES OF IX.CSS */

#content {
	width: 1000px;
	padding-left: 0px;
}

#container {
	width: 1000px;
}

footer {
	background-color: #E0E0E0;
}

#footer-area {
	padding: 10px;
	text-align: center;
}

.footer-segment {
	width: 100%;
}

.slideshow img, #tour-container img {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	/* border: 1px solid black; */
}

.slideshow h5 {
	margin-top: 5px;
}


/* ACTUALLY USEFUL STUFF */

/* INDEX */

#beta-message {
	height: 25px;
	background-color: yellow;
	float: right;
	margin-top: -40px;
	padding: 5px 10px 0px 10px;
}

.index-container {
	width: 980px;
}

.slideshow {
	width: 1000px;
	height: 366px;
	position: relative;
}

.slideshow-img-container {
	margin-right: 20px;
	float: left;
	width: 590px;
	height: 360px;
	border-bottom: none;
	cursor: pointer;
	position: relative;
}

.slideshow-img {
	width: 590px;
	height: 360px;
	position: absolute;
}

.play-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	position: absolute;
	height: 70px;
	width: 70px;
	margin-left: -moz-calc(50% - 35px);
	margin-left: -webkit-calc(50% - 35px);
	margin-left: calc(50% - 35px);
	margin-top: -moz-calc(25% - 5px);						/* no idea why this only wants 25% and 5px */
	margin-top: -webkit-calc(25% - 5px);
	margin-top: calc(25% - 5px);
	z-index: 99;
	pointer-events: none;
}

.slideshow-text {
	width: 360px;
	height: 360px;
	float: right;
}

#pager {
	margin-left: 480px;
}

#pager a {
	border: none;
	/* border: 1px solid #ccc; */
	color: black;
	/* background: #E0E0E0; */
	text-decoration: none;
	margin: 0 1px;
	padding: 3px 9px;
}

#pager a.activeSlide {
	background: #E0E0E0;
}

#pager a:focus {
	outline: none;
}

/*#play-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	position: absolute;
	top: 420px;
	left: 490px;
	height: 70px;
	width: 70px;
	z-index: 99;
	pointer-events: none;
}*/

/* 
#player-container {
	position: absolute;
	top: 280px;
	left: 230px;
	width: 590px;
	height: 360px;
	
	z-index: 999;
	display: none;
}
*/
 
.player-container {
/* 
	position: absolute;
	top: 280px;
	left: 230px;
	width: 590px;
	height: 360px;
 */
	float: left;
	z-index: 999;
	display: none;
}

.vid-iframe {
	width: 589px;
	height: 359px;
	z-index: 999;
}	

.big-btn {
	height: 90px;
	width: 483px;
	margin-left: 10px;
	padding: 10px 60px 10px 60px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(0,143,203,0.4);			/* #008FCB */
	color: rgba(16,87,139,1);
	border-radius: 8px;
}

.btn-container {
	text-align: center;
}

#news-btn {
	width: 80%;
	height: 60px;
	margin-top: 45px;
	background-color: rgba(0,143,203,0.4);			/* #008FCB */
	color: rgba(16,87,139,1);
	padding-left: 8px;
	border: 1px solid rgba(16,87,139,1);
	font-size: 20px;
	border-radius: 8px;
	/* text-align: left; */
	/* put a star or something in the image? */
}

/* 
#news-btn-img {
	width: 50px;
	height: 50px;
	float: right;
}
 */


/* TOUR */

.tour-container {
	height: 400px;
	margin-top: 40px;
}

.tour-img-container {
	margin-right: 20px;
	float: left;
	width: 400px;
	height: 350px;
	border-bottom: none;
}

.tour-img {
	width: 400px;
	height: 266px;
}

.tour-text-container {
	width: 500px;
	height: 350px;
	float: right;
	margin-top: 48px;
}


/* MISC */

.database-status-container {
	float: left;
	width: 100%;
	font-size: 12px;
	color: rgba(16,87,139,1);
}

.database-status-container span {
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 20px;
}
