/* OVERWRITES OF IX.CSS */

.server-down-msg{
	background-color: yellow;
	margin-top: -40px;
	padding: 10px;
}

nav .menu ul li a.new-section {
	color: #fcfcfc;
}

#content {
	width: 1000px;
	padding-left: 0px;
}

#container {
	width: 1000px;
}

footer {
	background-color: #E0E0E0;
}

#footer-area {
	padding: 10px;
	text-align: center;
}

.footer-segment {
	width: 100%;
}

.slideshow img, #tour-container img {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	/* border: 1px solid black; */
}

.slideshow h5 {
	margin-top: 5px;
}

.no-link-decoration {
	border-bottom: none !important;
	text-decoration: none !important;
	padding: 0px;
}


/* ACTUALLY USEFUL STUFF */

#beta-message {
	height: 25px;
	background-color: yellow;
	float: right;
	margin-top: -40px;
	padding: 5px 10px 0px 10px;
}

.error-banner {
	height: 45px;
	background-color: yellow;
	float: right;
	margin-top: -40px;
	padding: 5px 10px 0px 10px;
}

.new-tag {
	height: 100%;
	width: 60px;
	background-color: yellow;
	float: right;
	text-align: center;
	margin: -2px -6px -5px 10px;
	padding-right: 2px;
	padding-top: 3%;
}

.slideshow {
	width: 1000px !important;
	height: 366px !important;
}

.index-container {
	width: 980px !important;
}

.slideshow-img-container {
	position: relative;
	width: 590px;
	height: 360px;
	border-bottom: none;
	cursor: pointer;
}

.slideshow-img-container:hover {
	text-decoration: none;
	background: none;
}

.slideshow-img {
	position: absolute;
	width: 590px;
	height: 360px;
}

.slideshow-text {
	width: 360px;
	height: 360px;
	float: right;
}

#pager {
	margin-left: 480px;
}

#pager a {
	border: none;
	/* border: 1px solid #ccc; */
	color: black;
	/* background: #E0E0E0; */
	text-decoration: none;
	margin: 0 1px;
	padding: 3px 9px;
}

#pager a.activeSlide {
	background: #E0E0E0;
}

#pager a:focus {
	outline: none;
}

.play-icon {
	position: absolute;
	height: 70px;
	width: 70px;
	margin-left: 260px;
	margin-top: 145px;
	pointer-events: none;
}

/*.play-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	position: absolute;
	height: 70px;
	width: 70px;
	margin-left: -moz-calc(50% - 35px);
	margin-left: -webkit-calc(50% - 35px);
	margin-left: calc(50% - 35px);
	margin-top: -moz-calc(25% - 5px);
	margin-top: -webkit-calc(25% - 5px);
	margin-top: calc(25% - 5px);
	z-index: 99;
	pointer-events: none;
}*/

/*#play-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	position: absolute;
	top: 420px;
	left: 490px;
	height: 70px;
	width: 70px;
	z-index: 99;
	pointer-events: none;
}*/

/* 
#player-container {
	position: absolute;
	top: 280px;
	left: 230px;
	width: 590px;
	height: 360px;
	
	z-index: 999;
	display: none;
}
*/
 
.player-container {
/* 
	position: absolute;
	top: 280px;
	left: 230px;
	width: 590px;
	height: 360px;
 */
	float: left;
	z-index: 999;
	display: none;
}

.vid-iframe {
	width: 589px;
	height: 359px;
	z-index: 999;
}	

.big-btn {
	height: 90px;
	width: 483px;
	margin-left: 10px;
	padding: 10px 60px 10px 60px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(0,143,203,0.4);			/* #008FCB */
	color: rgba(16,87,139,1);
	border-radius: 8px;
}

.btn-container {
	text-align: center;
}

/*#news-btn {
	width: 85%;
	height: 95px;
	margin-top: 45px;
	background-color: rgba(0,143,203,0.4);
	color: rgba(16,87,139,1);
	padding-left: 8px;
	border: 1px solid rgba(16,87,139,1);
	font-size: 20px;
	border-radius: 36px;
	box-shadow: 
		0 1px 2px #fff,
		0 -1px 1px #666,
		inset 0 -1px 1px rgba(0,0,0,0.5),
		inset 0 1px 1px rgba(255,255,255,0.8);
}*/

#news-btn {
	margin-top: 45px;
	padding: 10px;
	font-size: 20px;
	box-shadow: 
		0 1px 2px #fff,
		0 -1px 1px #666,
		inset 0 -1px 1px rgba(0,0,0,0.5),
		inset 0 1px 1px rgba(255,255,255,0.8);
	cursor: pointer;
}

#news-btn-new-tag {
	background-color: yellow;
	padding-left: 6px;
	padding-right: 3px;
	border-radius: 7px;
}

/*.box {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.box-content {
    width: 75%;
}

.ribbon {
    width: 25%;
    margin: 0;
    padding: 0;
    border: 0;
    right: 0px;
    top: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}*/

/*#news-btn {
	float: right;
	font-size: 18px;
}

#report-container {
	width: 85%;
	height: 120px;
	margin-top: 45px;
	padding: 10px;
	background-color: rgba(0,143,203,0.4);
	color: rgba(16,87,139,1);
	font-size: 22px;
}*/

#star-table-container {
	width: 1000px;
	margin-top: 60px;
	margin-left: -12px;
}

#banner-container {
	text-align: center;
	margin-bottom: 50px;
}

#banner-img {
	width: 900px;
}


/* TOUR */

.tour-container {
	height: 400px;
	margin-top: 40px;
}

.tour-img-container {
	margin-right: 20px;
	float: left;
	width: 400px;
	height: 350px;
	border-bottom: none;
}

.tour-img {
	width: 400px;
	height: 266px;
}

.tour-text-container {
	width: 500px;
	height: 350px;
	float: right;
	margin-top: 48px;
}


/* MISC */

.database-status-container {
	float: left;
	width: 100%;
	font-size: 12px;
	color: rgba(16,87,139,1);
}

.database-status-container span {
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 20px;
}