@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	background-color:#e7e7e7;
	min-width:900px;

}

html {
	margin:0;
    padding:0;	
}

#wrap {
    margin:0 auto;
	overflow: hidden;
	height:1200px;
    width:900px;
	background-image:url(images/carrier-hotels_11.jpg);
	background-repeat: repeat-y;
}

a:link {
	color:#00F;
	text-decoration: none;
	
	} /* unvisited link */
a:visited {
	color:#00F;
	text-decoration: none;
	} /* visited link */
a:hover {
	color: #00F;
	text-decoration:underline;
	

	} /* mouse over link */
a:active {
	color:#00F;
	text-decoration: none;
	} /* selected link */


#header1 {
	width: 600px;
	height: 126px;
	padding: 0 0 0 118px;
	
}

#return {
	position:absolute;
	top: 130px;
	padding: 0 0 0 730px;
	font-weight: bold;
	font-size: 22px;
}

#submit {
	position:absolute;
	top: 130px;
	padding: 0 0 0 730px;
	font-weight: bold;
	font-size: 22px;
}

#logo {
	position: absolute;
	top: 61px;
	padding: 0 0 0 350px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	left: 402px;
	width: 193px;
}

#logo-trgen {
	padding: 0 0 0 350px;
		font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
}



#line {
	position: absolute;
	top: 160px;
	padding: 0 0 0 66px;

	}



/*#links {
	font-family: Helvetica, Arial, sans-serif;
	width: 750px;
	font-size: 14px;
	color:#000000;
	position: absolute;
	top: 147px;
	padding: 0 0 0 155px;
	z-index: 1;
}
*/


#text1 {
	font-family: Helvetica, Arial, sans-serif;
	width: 700px;
	height: 300px;
	color: #000000;
	font-size: 40px;
	position: absolute;
	top: 180px;
	padding: 0 0 0 100px;
	text-align:justify;
}


#text1-trgen {
	font-family: Helvetica, Arial, sans-serif;
	width: 700px;
	height: 300px;
	color: #000000;
	font-size: 14px;
	padding: 0 0 0 100px;
	text-align:justify;
}


#space {
	padding-left: 5pt;
	padding-right: 5pt;
	
}




#title {
	font-weight: bold;
	font-size: 14px;
}

/*#welcome {
	position: absolute;
	top: 190px;
	padding: 0 0 0 220px;
	width:650px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color:#FFF;
}
*/
#wrap #text1 p {
	font-size: 40px;
}
#wrap #text1 p {
	font-size: 14px;
}
.big_text {
	font-size: 40px;
}
#wrap #text1 ul li {
	font-size: 20px;
}
#wrap #text1 {
	font-size: 20px;
}
#wrap #text1 p strong {
	font-weight: bold;
}
