# For OSX Users
.DS_Store

application/geoip/dat/
application/config.php
js/config.js
buildings-anim/
database-eg.txt
documents/
ge/
gm-temp/
jquery-ui-1.10.1/
lightbox/
research/
robots.txt
TrGen/
TrGen2/
#trsets/
videos/
dumps/
piwik/
includes/check-redirect.php
IXmapsClient/
phpMyAdmin/
